.nav, .header-contentt{
    background-color: #F0FFF0;
}
.img-fluid {
    max-width: 31%;
    height: auto;
}
 .but{
    border: 0px;
    background: #21B573;
    color: #fff;
    font-weight: bold;
    
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: 1.5rem;
}
button{
    border: 0px;
    background: #21B573;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    border-radius: 30px
}
.navbar-light .navbar-brand {
    width: 51%;
}
.navbar-brand {
    margin-right: 0rem;
}
























.left-content h1{
    font-weight: bold;
}
.left-content p{
    color:#6C6B6B;
}
.left-content .but{
    border: 0px;
    background: #21B573;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
}









.subject-inner{
    background-color: #F8FFFB;
    height: 100%;
    border-radius: 10px;
}
.subject-inner:hover{
    box-shadow: 0px 10px 20px rgb(218, 214, 214);
    background-color: #FFFFFF;
}
.subject-inner h2 {
    color:#413960;
    font-weight: bold;
    font-size: 141%;
}
.subject-inner p {
    color:#585859;
}












.courch-header h2{
    font-weight:bold;
    color:#413960;

}
.card {
    border-radius:10px;
}
.card > .img-fluid {
    max-width: 100%;
    height: auto;
    padding: 5%;
}
.card-body h5{
    font-weight:bold;
    color:#413960;
}
.card-body p{
    
    color:#585859;
}
.a > p{
    margin-bottom: 0rem;
} 
.b > p{
    margin-bottom: 0rem;
}
.a  .img-fluid {
    max-width: 20%;
    height: auto;
}
.card{
    border: 0px;
    box-shadow: 0px 5px 20px #EAE2E2;
}
.Testimonial > .img-fluid {
    max-width: 20%;
}
.test{
    margin-top: 100px;
}












.footer-bg{
    background-color: #282531;
    color:#fff;
    margin-top:100px;
}
.content-inner ul {
    list-style: none;
}
.content-inner ul li:first-child{
    font-weight: bold;
    padding-bottom: 10px;
}
.last-footer p {
    margin-top: 90px;
    margin-bottom: -1rem;
}